* {
    box-sizing: border-box;
}

body {
    --padding-block: 10;
    --padding-inline: 20;
    margin: 0;
    padding: calc(var(--padding-block) * 1px) calc(var(--padding-inline) * 1px);
    background-color: #000;
}

canvas {
    display: block;
}

.score {
    margin: 0;
    margin-bottom: 5px;
    font-family: Consolas, monospace;
    font-size: 14px;
    color: #fff;
}